*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #fff7ed;
  font-family: "Inter", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* navBar styling*/
header {
  height: 110px;
  display: flex;
  align-items: center;
  padding: 20px;
}

header .site-logo {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  font-size: 25px;
  margin-right: auto;
}

/* header .site-logo:hover {
  text-decoration: underline;
} */

.header-nav a,
.host-nav a {
  text-decoration: none;
  color: #4d4d4d;
  padding: 5px 10px;
  font-weight: 600;
}

.header-nav a:hover {
  text-decoration: underline;
}

header .login-icon {
  height: 18px;
  width: 18px;
}

header .login-link {
  display: inline-flex;
  align-items: center;
}

a.currentlyActive {
  font-weight: bold;
  text-decoration: underline;
  color: #161616;
}

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* home page  */
.home-container {
  background-image: url(../src/assets/image54.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 600px;
  text-align: center;

  color: white;
}

.home-container .para-1 {
  font-size: 3.75rem;
  line-height: 3.85rem;
  padding-top: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.home-container .para-2 {
  font-size: 1.5rem;
  line-height: 1.85rem;
  padding-top: 1.5rem;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 4.75rem;
}

.find {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  background: rgb(243, 169, 31);
  padding: 0.99rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.find-btn {
  text-decoration: none;
  color: #fff7ed;
  font-size: 1.5rem;
  font-weight: 600;
  transition: transform 0.1s ease-in-out;
}

footer {
  background-color: #161616;
  color: #aaaaaa;
  height: 74px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
}

/*** ABOUT PAGE ***/
.image {
  max-width: 100%;
}

.text-cont {
  padding: 2rem 1.9rem;
}

.text-cont > h1 {
  margin-bottom: 2.45rem;
  font-size: 3rem;
}

.about-para-1,
.about-para-2 {
  margin-bottom: 2rem;
  font-size: 20px;
  line-height: 1.17;
  font-weight: 600;
}

.about-border {
  background-color: #ffcc8d;
  padding: 3rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 900;
  border: 1px solid transparent;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.about-lnk {
  display: inline-block;
  background: black;
  margin-top: 1.5rem;
  font-size: 15px;
  padding: 1.1rem;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: transform 0.1s ease-in-out;
}

.about-lnk > a {
  text-decoration: none;
  color: white;
}

/* VANS PAGE */
.van-list-container {
  padding-inline: 1.25rem;
}

.van-list-container > h1 {
  margin-bottom: 1rem;
}

.van-list-filter-buttons {
  display: flex;
  flex-wrap: wrap;
}

.van-list-filter-buttons > a {
  margin-right: 15px;
  text-decoration: none;
}

.van-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  margin-top: 57px;
}

.van-title a {
  text-decoration: none;
  color: #161616;
}

.van-img {
  max-width: 100%;
  border-radius: 0.35rem;
  object-fit: cover;
}

.van-info {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 0.91rem;
  padding-top: 1rem;
  padding-bottom: 0.71rem;
}

.span {
  font-size: 16px;
  font-weight: 400;
}

.van-title i {
  height: 34px;
  padding: 0.38rem 0.95rem;
  background-color: #e29f4c;
  color: white;
  font-size: 1.35rem;
  font-style: normal;
  text-transform: capitalize;
  border: none;
  border-radius: 0.55rem;
  cursor: pointer;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #ffead0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #161616;
}

.van-list-container button {
  margin-right: 20px;
  cursor: pointer;
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4d4d4d;
}

i[class*="van-type-"] {
  padding: 7px 14px;
}

/* VAN-DETAIL PAGE */
.detail-container {
  padding: 20px;
}

.van-detail {
  display: flex;
  flex-direction: column;
  color: #161616;
}

.van-detail img {
  border-radius: 5px;
  margin-block: 47px;
}

.van-detail i {
  align-self: flex-start;
  padding: 6px 10px;
  font-size: 1.2rem;
  border-radius: 4px;
  text-transform: capitalize;
  font-style: normal;
  margin-bottom: 1.3rem;
}

.van-detail .van-name {
  padding-bottom: 10px;
  font-size: 2rem;
}

.van-detail .van-price {
  padding-bottom: 15px;
  font-size: 2rem;
  font-weight: bold;
}

.van-price span {
  font-weight: 100;
  font-size: 1.5rem;
}

.van-desc {
  line-height: 1.2;
  font-weight: 600;
  padding-bottom: 30px;
}

.detail-btn {
  border: none;
  border-radius: 8px;
  padding: 1.1rem;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb(174, 174, 14);
  color: white;
  cursor: pointer;
  margin-bottom: 3rem;
}

/* HOST PAGE */

/* 
==============
HOST BAR NAV
==============
*/
.host-nav {
  display: flex;
}

.host-nav a {
  margin: 0.75rem;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 100;
}

.host-nav a:hover {
  text-decoration: underline;
  font-weight: 600;
}

/* 
=============
HOSTVAN STYLING
=============
*/
.host-van-link-wrapper {
  color: unset;
  text-decoration: unset;
}

.hostVan-container {
  padding-inline: 1.5rem;
}

.hostvan-h1 {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 0;
  line-height: 1;
  color: #161616;
}

.hostVan-list {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.5rem;
  padding: 1rem;
  background-color: white;
  margin-bottom: 1rem;
  align-items: center;
}

.hostVan-list img {
  /* max-width: 100%; */
  height: 70px;
  object-fit: fill;
  border-radius: 0.25rem;
}

.hostvan-info h1 {
  color: #161616;
}

.hostvan-info p {
  color: #695959;
  font-weight: 600;
  font-size: 0.95rem;
  line-height: 1.2;
}

/* 
==================
HOSTDETAILSVAN STYLING
===================
*/
.hostdetails-container {
  padding: 24px;
  margin: 30px 26px;
  background: white;
}

.hostdetails-list {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.5rem;
}

.hostdetails-list img {
  height: 160px;
  object-fit: contain;
  border-radius: 0.15rem;
}

.hostdetails-info {
  align-self: center;
}

.hostdetails-info > h1 {
  margin-bottom: 0.56rem;
  margin-top: 1rem;
}

.hostdetails-info > h2 {
  font-size: 20px;
}

.hostdetails-info i {
  height: 34px;
  padding: 0.38rem 0.95rem;
  background-color: #e29f4c;
  color: white;
  font-size: 0.8rem;
  font-style: normal;
  text-transform: capitalize;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.back-button {
  display: inline-block;
  margin-top: 50px;
  margin-left: 26px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #161616;
}
.span-back {
  font-size: 2.7rem;
  padding-right: 0.21rem;
}

.span-text:hover {
  text-decoration: underline;
}

.van-detail-nav-bar {
  display: flex;
}

.van-detail-nav-bar a {
  padding-block: 1.8rem;
  margin-right: 1.5rem;
  text-decoration: none;
  text-transform: capitalize;
  color: #161616;
}

.van-detail-nav-bar a:hover {
  font-weight: 700;
  transition: ease-in 1ms;
}

.host-van-detail-info > h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
.host-van-detail-info > h4 > span {
  font-weight: 500;
}

.host-van-price {
  font-size: 24px;
  font-weight: 500;
}

.host-van-price > span {
  font-size: 16px;
  color: #4d4d4d;
}

.host-van-detail-image {
  height: 100px;
  border-radius: 5px;
}

/* NOT FOUND PAGE */
.not-found-container {
  padding-inline: 26px;
}

.not-found-container .link-button {
  width: 100%;
  background-color: #161616;
  color: white;
  text-decoration: none;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  border: 1px solid black;
  border-radius: 0.8rem;
}

.not-found-container .link-button:hover {
  background-color: #cc481f;
  color: #fff7ed;
  border: none;
}

/* LOGIN PAGE */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 27px;
}

.login-container > h1 {
  margin-bottom: 2.5rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.login-form > input {
  border: 1px solid rgba(209, 213, 219);
  height: 40px;
  text-indent: 10px;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
}

.login-form > input:focus {
  outline: none;
}

.login-form > input:first-of-type {
  border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
  border-radius: 0px 0px 6px 6px;
  border-top: none;
}

.login-form > button {
  background-color: #ff8c38;
  border: none;
  border-radius: 6px;
  height: 55px;
  margin-top: 22px;
  color: white;
  font-family: "Inter", sans-serif;
}

.login-form > button:disabled {
  background-color: #aaaaaa;
  cursor: not-allowed;
}

.red {
  color: #cc0000;
  margin-bottom: 1rem;
}

/* ======================= */

.host-dashboard-earnings {
  background-color: #ffead0;
  padding: 37px 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.host-dashboard-earnings > .info > h1 {
  font-size: 36px;
  color: #161616;
  margin: 0;
}

.host-dashboard-earnings > .info > p {
  color: #4d4d4d;
}

.host-dashboard-earnings > .info > p > span {
  text-decoration: underline;
  font-weight: bold;
}

.host-dashboard-earnings > .info > h2 {
  margin: 0;
  font-size: 38px;
  color: #161616;
  font-weight: 900;
}

.host-dashboard-reviews {
  background-color: #ffddb2;
  padding: 25px 26px;
  display: flex;
  align-items: center;
}

.host-dashboard-reviews > h2 {
  margin: 0;
}

.host-dashboard-reviews .star {
  color: #ff8c38;
  margin-left: 15px;
  font-size: 25px;
}

.host-dashboard-reviews p {
  margin-left: 5px;
  font-size: 20px;
  color: #4d4d4d;
  margin-right: auto;
}

.host-dashboard-reviews p > span {
  font-weight: bold;
  color: #161616;
}

.host-dashboard-vans {
  padding: 38px 26px;
}

.host-dashboard-vans > .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.host-dashboard-vans .host-vans-list {
  padding-inline: 0;
}

.host-income {
  padding-inline: 26px;
  color: #161616;
}

.host-income > p {
  color: #4d4d4d;
}

.host-income > p span {
  text-decoration: underline;
  font-weight: bold;
}

.host-income > h2 {
  font-size: 38px;
  color: #161616;
  font-weight: 900;
}

img.graph {
  width: 900px;
  max-width: 500px;
}

.host-income .info-header > p {
  color: #4d4d4d;
}

.host-income .info-header > p span {
  text-decoration: underline;
  font-weight: bold;
}

.host-income .info-header > h3 {
  font-weight: 700;
  font-size: 24px;
  margin-top: 60px;
}

.host-income .transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-bottom: 31px;
  padding: 35px 29px;
  border-radius: 6px;
}
.host-income .transaction > h3 {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
}

.host-income .transaction > p {
  font-weight: 500;
  font-size: 20px;
  color: #4d4d4d;
}

.host-reviews {
  padding-inline: 26px;
  color: #161616;
}

.host-reviews .top-text {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.host-reviews .top-text > h2 {
  font-weight: 700;
  font-size: 32px;
  margin: 0;
  margin-right: 20px;
}

.host-reviews .top-text > p {
  margin: 0;
  color: #4d4d4d;
}

.host-reviews .top-text > p span {
  text-decoration: underline;
  font-weight: bold;
}

.host-reviews > img {
  margin-bottom: 36px;
}

.host-reviews .review {
  margin-block: 25px;
}

.host-reviews .review .info {
  display: flex;
}

.host-reviews .review .name {
  color: #161616;
  margin-right: 10px;
  font-weight: 600;
}

.host-reviews .review .date {
  color: #8c8c8c;
}

.host-reviews hr {
  background-color: #c7c7c7;
  height: 1px;
  border: 0;
}

.host-reviews .review-star {
  color: #ff8c38;
  margin-right: 5px;
}

.loader {
  /* margin: auto; */
  margin-top: 10rem;
  margin-left: auto;
margin-right: auto;
  border: 20px solid #eaf0f6;
  border-radius: 50%;
  border-top: 20px solid #ff7a59;
  width: 200px;
  height: 200px;
  animation: spinner 4s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
